<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.testandroid.yang">

    <!-- 18 -->
    <!-- android:installLocation="preferExternal"-->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24"
        tools:overrideLibrary="uk.co.senab.photoview" />

    <permission android:name="com.testandroid.yang.provider" />
    <permission android:name="com.testandroid.yang.provider.Reader" />
    <permission android:name="com.testandroid.yang.provider.Write" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" /><!--默认没提示-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!-- name MultiDexAppcation -->
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <!--<uses-feature />-->
    <!--不能通过@string/ 方式获取 -->
    <permission android:name="com.testandroid.yang.provider.pppp" />

    <permission-group android:name="group666" />

    <!-- android:permissionGroup="group11"-->
    <permission
        android:name="com.testandroid.yang.provider.READ_USER"
        android:protectionLevel="dangerous" />

    <application
        android:name="com.testandroid.yang.tinker.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="10002" />

        <!--<activity android:name=".activity.MainActivity">-->
        <activity
            android:name="com.testandroid.yang.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ZoomImageActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">

            <!--
 ATTENTION: This intent was auto-generated. Follow instructions at
  https://g.co/AppIndexing/AndroidStudio to publish your URLs.
            -->
        </activity>
        <activity
            android:name=".activity.ViewPagerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.ParallaxActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.ListViewClipActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.ScrollViewClipActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.ViewPagerAllActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.testandroid.yang.ObservableScrollView.demo.ParallaxToolbarScrollViewActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity android:name=".ObservableScrollView.viewpager.ViewPagerTabActivity" />

        <activity
            android:name=".activity.AnimationActivity"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.FrgStatePagerAdaperActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.ItemTypeListViewActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.DexClassLoaderActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.ViewAnimatorActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.CheckTextViewActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.DexClassLoadTestActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.PhotoViewActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.BuildConfigFieldActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.TestTinkerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.RxJava2Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.CursorLoadActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <service
            android:name=".service.SampleResultService"
            android:exported="false" />

        <receiver
            android:name=".receiver.TestReceiverPriorityHigh"
            android:exported="false">

            <intent-filter android:priority="100">
                <action android:name="action_test_broadcastreceiver" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.TestReceiverPriorityMiddle"
            android:exported="false">

            <intent-filter android:priority="90">
                <action android:name="action_test_broadcastreceiver" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.TestReceiverPriorityLow"
            android:exported="false">

            <intent-filter android:priority="80">
                <action android:name="action_test_broadcastreceiver" />
            </intent-filter>

        </receiver>

        <activity
            android:name=".activity.DataBindingActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".activity.TempE"
            android:label="@string/title_activity_temp_e" />

        <activity
            android:name=".activity.TempActivity"
            android:label="@string/title_activity_temp_e" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity android:name="com.testandroid.yang.activity.CoordinatorLayoutActivity" />

        <activity android:name="com.testandroid.yang.activity.CoordinatorAppBarActivity" />

        <activity
            android:name="com.testandroid.yang.activity.AppBarTabLayout"
            android:theme="@style/AppTheme.FitSystemWindown" />

        <activity
            android:name="com.testandroid.yang.activity.TestAppBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!--4.1之后 parentActivityName 之前：用meta-data -->
        <activity
            android:name="com.testandroid.yang.activity.MenuActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/ActionModeTheme" />

        <activity android:name="com.testandroid.yang.activity.ViewBigImageActivity" />

        <activity android:name="com.testandroid.yang.activity.RecycleViewActivity" />

        <!--splitActionBarWhenNarrow 不起作用？？？？-->
        <!-- android:parentActivityName="com.testandroid.yang.activity.ParallaxActivity"-->
        <!--   /MyActionBarTheme-->
        <!--android:theme="@style/MyActionBarTheme"-->
        <activity
            android:name="com.testandroid.yang.activity.ActionBarActivity"
            android:label="ActionbarActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Test001">

            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

        </activity>

        <activity android:name="com.testandroid.yang.activity.MDAnimationAnimationActivity" />
        <activity android:name="com.testandroid.yang.activity.TypeAnimationActivity" />
        <activity android:name="com.testandroid.yang.activity.TypeDataBaseActivity" />
        <activity android:name="com.testandroid.yang.activity.TypeNewTectActivity" />
        <activity android:name="com.testandroid.yang.activity.TypeOtherActivity" />
        <activity android:name="com.testandroid.yang.activity.TypeViewActivity" />
        <activity android:name="com.testandroid.yang.activity.PDFCreateActivity" />
        <activity android:name="com.testandroid.yang.activity.RxJavaOperateActivity" />

        <activity android:name="com.testandroid.yang.activity.OkHttpActivity" />
        <activity android:name="com.testandroid.yang.activity.BroadcastReceiverActivity" />
        <activity
            android:name="com.testandroid.yang.activity.BottomSheetActivity"
            android:theme="@style/AppTheme.ActiomMode" />

        <!-- android:excludeFromRecents="true"-->
        <!-- android:maxRecents="3"
            android:autoRemoveFromRecents="false"
            android:documentLaunchMode="none"-->
        <activity
            android:name="com.testandroid.yang.activity.OverviewScreen01Activity"
            android:launchMode="singleTask" />

        <activity
            android:name="com.testandroid.yang.activity.NotificationActivity"
            android:parentActivityName=".activity.TypeAnimationActivity" />

        <activity android:name="com.testandroid.yang.activity.ReflectActivity" />

        <activity android:name=".activity.VLayoutActivity" />

        <!--android:theme="@style/AppTheme.FitSystemWindown"-->
        <activity
            android:name=".activity.FitSystemWindowActivity"
            android:label="FitLabel"
            android:theme="@style/AppTheme.FitSystemWindown" />

        <activity android:name=".activity.SaveToDataBaseActivity" />

        <activity android:name=".activity.DisplayUserInfoActivity" />

        <activity android:name=".activity.RotationActivity" />

        <activity android:name=".activity.CustomViewActivity" />

        <activity android:name=".activity.CustomView0Activity" />

        <activity android:name=".activity.CustomViewLevelListActivity" />

        <activity
            android:name=".activity.EditTextActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activity.LaunchModeBaseActivity" />

        <activity android:name=".activity.LaunchModeA_Activity" />

        <activity android:name=".activity.LaunchModeB_Activity" />

        <!--android:clearTaskOnLaunch="true"
            android:taskAffinity="com.hhhhhhhh" -->
        <activity
            android:name=".activity.LaunchModeC_Activity"
            android:finishOnTaskLaunch="true"
            android:launchMode="standard" />

        <activity
            android:name=".activity.LaunchModeD_Activity"
            android:launchMode="singleInstance" />

        <activity android:name=".activity.LaunchModeE_Activity" />

        <activity android:name=".activity.CustomViewCanvasActivity" />

        <!--android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"-->
        <activity android:name=".activity.DialogListActivity" />

        <activity android:name=".activity.CheckTextViewNewActivity" />

        <!--ActionModeTheme-->
        <!--ActionBarOverlay-->
        <activity
            android:name=".activity.ListviewChoiceActivity"
            android:theme="@style/ListviewChoice"
            android:uiOptions="splitActionBarWhenNarrow" />

        <!--android:theme="@style/DrawerLayoutTheme" -->
        <activity
            android:name=".activity.DrawerLayoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ShareSimpleDateActivity"
            android:theme="@style/ShareSimpleDateActionBar">

            <intent-filter android:label="Share哈哈">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SelectFileActivity"
            android:icon="@drawable/ic_done"
            android:label="File Selector">

            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SavingFileActivity" />

        <!-- android:permission="com."
            android:readPermission="rrr"
            android:writePermission="www"-->
        <!--android:grantUriPermissions="true" 临时权限-->
        <!--authorities ; ; ;-->
        <!--android:enabled="true" 确定是否实例化 application 也有该属性 控制所有组件-->
        <!--android:exported="true" android:minSdkVersion or android:targetSdkVersion to "16" api 16(含)之前默认是true,16之后默认false-->

        <!--android:permission="@string/provider_permisssion"-->
        <!--注意，permission 该权限需要 定义-->
        <!-- android:readPermission="com.testandroid.yang.provider.READ_USER"-->
        <provider
            android:name=".db.ApplicationContentProvider"
            android:authorities="com.testandroid.yang.provider.user"
            android:exported="true"
            android:initOrder="1"
            android:permission="@string/provider_permisssion"
            android:readPermission="com.testandroid.yang.provider.READ_USER">

            <!-- <grant-uri-permission android:path="/attachments/" />-->
            <!-- <grant-uri-permission >
             </grant-uri-permission>-->
            <!-- <path-permission android:path="string"
                 android:pathPrefix="string"
                 android:pathPattern="string"
                 android:permission="string"
                 android:readPermission="string"
                 android:writePermission="string" />-->
        </provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.testandroid.yang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>